* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.Activities {
    height: auto;
    background-color: #252424;
    width: 100%;
    height: 100%;
}

.Activities h1 {
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 4px;
    color: #F5F4F4;
}

.activities-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}

.activities-container img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

footer {
    width: 100vw;
    height: auto;
    background-color: #161616;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

footer .footer-img {
    padding: 5px;
}

footer h5 {
    color: #F5F4F4;
    margin: 8px;
}

footer h5 a {
    text-decoration: none;
    color: #F5F4F4;
    font-size: 15px;
}

@media (max-width:800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width:600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width:400px) {
    .Activities h1 {
        font-size: 18px;
    }
}