.contact {
    padding: 130px 0;
}

.contact .heading .icon {
    font-size: 30px;
    color: #2AAFC0;
    margin-bottom: 20px;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.contact .heading h2 span {
    color: #2AAFC0;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
    margin: 0;
    margin-bottom: 60px;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #2AAFC0;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 40px;
}

.contact .content .info {
    margin-top: 30px;
}

.contact .content .info .icon {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
}

.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
.no-js #loader {
    display: none; 
    }

.js #loader {
    display: block; position: absolute; left: 100px; top: 0;
    }

.se-pre-con {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url(../img/loader/Preloader_2.gif) center no-repeat #fff;
}

